@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h2{
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 40px;
     font-weight: bold;
     color: black;
}
h3{
    font-family: 'GmarketSansMedium';
}
p{
    font-family: 'Paytone One', sans-serif;
}




body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav{
    z-index: 100;
}
.swiper-container {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
p{
    font-size: 16px;
}
.margin{
    margin-top: 100px;
    margin-bottom: 45px;
    
}
.swiper-container{
    width: 100%;
    /* width: 2400px; */
    height: 900px;

}

.bg-1{
    background-color: white;
    height: 200px;
    line-height: 50px;
}

.slide{
    position: relative;
}
.section01-txt{
    position: absolute;
    z-index: 100;
    margin-left: 45%;
}
.p-1{
    background:url(../images/jaemin-don-k4DK_xyr5Yc-unsplash.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}
.p-2{
    background:url(../images/beer03.png);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 800px; */
}
.p-3{
    background:url(../images/Untitled-2.png);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 800px; */
}

.line{
    height: 50px;
    background-color: white;
}
.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
}

.img{
    width: 100%;
}

.main{
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 25px;
    font-family: 'GmarketSansMedium';
    letter-spacing: 5px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.473);
}
 .bg-2{
     height: 450px;
     background:url(../images/54ed506c80f55.png);
     color: #fff;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 .section02-img{
     width: 50%;
     margin: 0 auto;
 }
 .about{
    font-family: 'Paytone One', sans-serif;
     margin-top: 50px;
     font-size: 40px;
     font-weight: bold;
     color: rgb(96, 194, 197);

 }
 .about1{
    font-family: 'GmarketSansMedium';
     margin-top: 60px;
     
    };
 }
 .about2{
     width: 50%;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
     /* margin-top: 30px; */
     width: 40%;
     margin: 40px auto;
 }

.btn{
    width: 150px;
    font-weight: bold;
}


.bg-3{
    width: 80%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 60px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  .tablinks{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
  }
  .wit{
      color: #19b8cd;
  }
  .pellong{
    color: rgb(0, 171, 133);
  }
  
  /* Style the tab content */
  .tabcontent {
    width: 100%;
    height: 1200px;
    display: none;
    padding: 40px 12px;

  }
  #London{
      display: block;
      
  }
  .beer-cont{
      height: 700px;
     
  }
  .wit-txt>p{
      margin-top: 50px;
      margin-bottom: 50px;

      color: black;
  }

  .wit-txt-main{
    margin: 30px auto;
  }

  .wit-bg{
      background-color: #29c5da;
  }
  .wit-img{
    width: 80%;
  }
  .wit-img>img{
      height: 90%;
    background-image: url(../images/01dc712b6e072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .wit-img{
    background-image: url(../images/01dc712b6e072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  